* {
  box-sizing: border-box;
}

.follow-element {
  position: absolute;
  width: 100px;
  height: 100px;
  background: red;
}

.container {
  width: 100vw;
  height: 100vh;
}

.square {
  width: 100px;
  height: 100px;
  background: lightcoral;
  border-radius: 20px;
  /* transition-timing-function: cubic-bezier(0.5, 0.1, 1.5, 3); */
  /* transition: all 300ms; */
}

.weatherApp {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 50px;
}

.weather__temperature {
  margin: 10px 0;
}

.btn_weather {
  margin: 40px 0;
  color: darkgrey;
}

.weather__icons {
  display: flex;
  justify-content: center;
}

.icon {
  width: 100px;
  height: 100px;
}

.clouds {
  background-image: url("/src/pictures/clouds.png");
}
.day-clear {
  background-image: url("/src/pictures/clear-day.png");
}
.night {
  background-image: url("/src/pictures/clear-night.png");
}
.day {
  background-image: url("/src/pictures/day.png");
}
.heat {
  background-image: url("/src/pictures/heat.png");
}
.rain {
  background-image: url("/src/pictures/rain.png");
}
.rainbow {
  background-image: url("/src/pictures/rainbow.png");
}
.snow-storm {
  background-image: url("/src/pictures/snow-storm.png");
}
.snow {
  background-image: url("/src/pictures/snow.png");
}
.storm {
  background-image: url("/src/pictures/storm.png");
}
.windy {
  background-image: url("/src/pictures/windy.png");
}
.partly-cloudy {
  background-image: url("/src/pictures/partly-cloudy.png");
}

.fog {
  background-image: url("/src/pictures/fog.png");
}
.rainwater {
  background-image: url("/src/pictures/rainwater.png");
}
